<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Create a new collection</h1>

    <form>
      <div class="form-group">
        <label for="collection-tag">Tag</label>
        <input type="text"
               name="collection[tag]"
               class="form-control"
               value="<%= collection.escape("tag") %>"
               id="collection-tag">
      </div>

      <div class="form-group">
        <label for="begin-time">Start Time</label>
        <input type="date"
               name="collection[start_date]"
               class="form-control"
               value=""
               id="start_date">
      </div>

      <div class="form-group">
        <label for="end-time">End Time</label>
        <input type="date"
               name="collection[end_date]"
               class="form-control"
               value=""
               id="end_date">
      </div>

      <input type="submit" value="submit">
    </form>
  </div>
</div>